.navbar{
display: flex;
justify-content: space-around;
border: 1px solid black;
padding: 1rem;
margin-bottom: 10px;

}

.navbar>a{
    display: block;
}

@media only screen and (max-width: 767px) {
 .navbar{
    border: 2px solid red;
    width: 950px;
 }
}
